body {
  background-image: url(./imgs/pale-bokeh.jpg);
  background-repeat: no-repeat;
  font-family: 'Space Mono', monospace;
  width: 100%;
  margin: 7% 0;
  padding: 0;
}

main {
  background: #9BCCD4;
  height: 600px;
  width: 100%;
  margin: 0;
  padding-top: 10%;
  padding-left: 40%;
}

#partone {
  width: 100%;
  height: 190px;
}

#parttwo {
  width: 100%;
  height: 190px;
}

#partthree {
  width: 100%;
  height: 190px;
}
